//variables
$dark-blue: #143e87;
$light-blue: #316fd8;
$lighter-blue: #306ed6;

@mixin logo-basic-style {
  color: $light-blue;
  float: left;
  display: inline-block;
  line-height: 0em;
  font-family: "ABeeZee", sans-serif;
}
@mixin font-style {
  font-family: "Montserrat", sans-serif;
  color: $dark-blue;
}

@mixin main-section-basic {
  float: left;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
  display: block;
  text-align: center;
}

@mixin selector-div-basic {
  position: relative;
  display: block;
  height: 20%;
  background-color: #e8e8e8;
  float: left;
}

@mixin radio-link-basic {
  position: relative;
  top: 1em;
  display: inline-block;
  float: left;
  color: #1c4080;
}
@mixin right-filter-basic {
  line-height: 5em;
  position: relative;
  top: 0em;
  float: left;
  display: block;
  left: 2%;
  height: 2vh;
}

/* navbar style */
.dropdown {
  display: none;
}

.top-level-links,
.top-level {
  background-color: $dark-blue;
  color: white;
  font-size: 17px;
  width: 100%;
  left: 0%;
  line-height: 0em;
  height: 10%;
  position: relative;
  top: 2%;
}

.top-right-links {
  position: relative;
  left: -5%;
}

.link-color {
  color: $dark-blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  width: 50%;
  float: left;
  position: relative;
  left: -1%;
  height: 5em;
  font-size: 15px;
  line-height: 29px;
}

.nav-buttons-right {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  top: 27px;
  font-family: "Quattrocento Sans", sans-serif;
}

/* logo style */
#logo-pool {
  font-family: "Passion One";
}

#logo {
  @include logo-basic-style();
}

#pool-pros {
  position: relative;
  top: -20px;
  left: 40%;
}

strong {
  color: $lighter-blue !important;
  font-size: 49px;
}

#montserrat {
  @include font-style();
}

#header-hr {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: darkgray;
}

/* search box */
#search-box {
  border-style: groove;
  border-color: #4979d2;
  position: relative;
  display: inline-block;
  float: right;
  left: -3%;
  width: 15%;
  height: 41px;
  top: 22px;
  color: black;
}

.search-link {
  position: absolute;
  top: -28px;
}

/* body-background image */
img {
  width: 100%;
  height: 3em;
  position: relative;
  top: -10px;
}

/* radio selector buttons */
.selector-div {
  @include selector-div-basic();
  margin-right: 25%;
  border-radius: 0.5em;
  left: 12%;
  width: 75%;
}

.left-filter-pane {
  width: 50%;
  line-height: 9vh;
  color: $lighter-blue;
}

.right-filter-pane {
  @include right-filter-basic();
}

#filter {
  display: inline-block;
  position: relative;
  top: -1em;
}

#divider {
  border: none;
  height: 4em;
  width: 2px;
}

.radio-btn {
  margin-left: 3%;
}

.radio-link {
  position: relative;
  left: -3%;
  top: 1em;
  display: inline-block;
  top: -37px;
  float: left;
  font-size: 14px;
}

#radio {
  margin-left: 8%;
}

/* main section */
.main-container {
  position: relative;
  left: 12%;
}

.main-section {
  @include main-section-basic();
  width: 20%;
  max-width: 650px;
  padding: 27px;
  margin-top: 2%;
  margin-left: 27px;
  left: 10%;
  height: 27em;
}

.card-top-divider {
  height: 0.3px;
}

.email {
  border-style: groove;
  border-color: #65c9ca;
  text-decoration: none;
  padding: 1px;
  margin-left: 14%;
  width: 67%;
}

a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.business {
  position: relative;
  width: 100%;
  text-align: center;
}

.business-header {
  font-weight: bold;
}

/* card contents */
.company-name {
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}

.phone {
  font-size: 20px;
  font-weight: 700;
}

.phone-logo {
  color: #4aa8b8;
}

.business-hours,
.cant-talk {
  /* text-align: center; */
  font-size: 15px;
  line-height: 21px;
  height: 2em;
}

.certifications {
  height: 8em;
  font-size: 16px;
  width: 75%;
  line-height: 27px;
  margin-left: 12%;
  letter-spacing: 1px;
}

// ========== Styling for the pop up modal ==========

/* (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// ========== styling for the contact form ==========

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: $light-blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.containers {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/* MEDIA QUERIES */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (max-width: 667px) and (orientation: portrait) {
  .top-level-links {
    display: none;
  }

  #logo {
    @include logo-basic-style();
    position: relative;
    left: -26%;
    letter-spacing: -1px;
  }

  #montserrat {
    @include font-style();
    letter-spacing: -3px;
    left: -4%;
    position: relative;
  }

  #search-box {
    display: none;
  }

  #header-hr {
    top: -8vh;
  }

  img {
    top: -10vh;
  }

  .selector-div {
    @include selector-div-basic();
    left: 1%;
    margin-right: 25%;
    margin-bottom: 2%;
    border-color: gray;
    top: 0vh;
    border-style: solid;
    border-width: 0.5px;
    width: 100%;
    height: 19em !important;
  }

  #radio {
    margin-left: 0%;
    top: 19px;
    left: -5%;
  }

  .radio-link {
    @include radio-link-basic();
    top: -37px;
    font-size: 25px;
    width: 100%;
    text-align: left;
    line-height: 15px;
  }

  .left-filter-pane {
    width: 75%;
    line-height: -5em;
    color: $lighter-blue;
    height: 16vh;
    position: rel;
    top: -17vh;
    left: 0%;
    font-size: 20px;
    width: 98%;
  }

  .right-filter-pane {
    @include right-filter-basic();
    top: -2em;
    display: block;
    left: 3%;
    height: 28vh;
  }

  .navigational {
    display: none;
  }

  #filter {
    display: inline-block;
    position: relative;
    top: 4px;
  }

  .nav-buttons-right-number {
    height: 7vh;
    position: relative;
    top: -10vh;
    left: -13%;
    font-size: 20px;
  }
  #num-dealers {
    font-size: 20px !important;
  }

  .main-section {
    @include main-section-basic();
    width: 82%;
    padding-top: 8%;
    margin-left: -8%;
    margin-bottom: 20%;
    height: 79vh;
  }

  .phone-div {
    background-color: #0366d061;
  }

  .certifications {
    height: 6em;
    font-size: 16px;
    width: 99%;
    line-height: 46px;
    margin-left: 4%;
    letter-spacing: 1px;
    position: absolute;
    border-style: solid;
    border-color: gainsboro;
    left: -4%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: gainsboro;
  }

  #myDropdown {
    position: absolute;
    width: 20em;
    float: left;
    left: -12em;
    background-color: #0d6d9c;
  }

  .drop-menu {
    display: inline-block;
    position: absolute;
    margin-left: 4%;
  }

  /* ======= drop down button/contents ====== */
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 18px;
    margin-bottom: 9vh;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    float: right;
    left: 4em;
    height: 5em;
  }

  /* bars */
  .fa-align-justify:before {
    content: "\f039";
    position: absolute;
    left: 30%;
  }

  .fas {
    left: 44px;
    height: 4vh;
    width: 1em;
    padding: 24px;
    padding-bottom: 31px;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .drop-items {
    color: red;
  }
  .drp-dwn-closer {
    font-size: 2em;
  }

  .dropdown-content .drop-items {
    color: black;
    padding: 5px 21px;
    text-decoration: none;
    display: block;
    font-size: 42px;
    color: white;
    height: 1em;
    position: relative;
    top: 3vh;
  }

  .h4 {
    width: 7em;
    text-align: center;
    background-color: #1c4080;
    border-style: solid;
    border-color: lightblue;
  }

  .dropdown .drop-items:hover {
    background-color: #03a9f49e;
  }

  .show {
    display: block;
  }
}
/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .right-filter-pane {
    // @include right-filter-basic();
    // top: 0em;
    // display: inline-block;
    // left: 2%;
    // width: 100%;
  }
  #divider {
    border: none;
    height: 1em;
    width: 2px;
    position: relative;
    background-color: #009688;
    top: 4vh;
    left: 1em;
  }

  .left-filter-pane {
    width: 43%;
    line-height: 14vh;
    color: #306ed6;
  }

  .radio-link {
    position: relative;
    top: 1em;
    display: inline-block;
    float: left;
    color: #1c4080;
    left: 62%;
    top: -14vh !important;
    height: 3vh;
    margin-left: -2%;
    font-size: 17px;
    width: 4em;
  }
  ul {
    width: 56%;
  }

  #radio {
    margin-left: 1%;
    font-size: 19px;
    width: 87%;
    position: absolute;
    left: 2em;
  }

  #filter {
    display: inline-block;
    position: relative;
    top: -13px;
    left: 10em;
    float: left;
    font-size: 17px;
  }

  .main-section {
    @include logo-basic-style();
    width: 33.33%;
    padding: 11px;
    margin-top: 2%;
    margin-left: 27px;
    left: 10%;
    height: 27em;
    line-height: 4vh;
  }

  .email {
    background-color: #abc5ea;
  }

  .dropbtn,
  .drop-items {
    display: none;
  }
}
