<!-- links at the top -->
<ul class="top-level-links">
  <div class="top-right-links">
    <li class="nav-buttons-right">
      <a href="#commercial-serv" class="top-level">Commercial Service ⤵️</a>
    </li>
    <li class="nav-buttons-right">
      <a href="#dealers-dist" class="top-level">Dealers and Distributors</a>
    </li>

  </div>
</ul>

<!-- logo -->

<li id="logo">
  <a class="active" href="/all">
    <h1 id="pool-pros">
      <strong id="logo-pool">POOL</strong>
      <span id="montserrat">PROS</span>
    </h1>
  </a>
</li>
<!-- navigational buttons -->
<ul class="navigational">
  <li class="nav-buttons-right">
    <a class="link-color" href="#contact">Contact</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#about">Services</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#resources">Resources</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#supplies">Supplies</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#pool-spas">Pools &#38; Spas</a>
  </li>
</ul>

<!-- search box -->
<ul id="search-box">
  <li class="search-link">
    <a class="link-color" href="http://google.com"> 🔎 Find a Pool Pro</a>
  </li>
</ul>

<!-- hr divider -->
<hr>
<!-- image -->
<img src="/images/poolpro.png" alt="pool water image" width="500" height="377">

{{!-- <!-- radio selectors -->
<div class="selector-div">
  <ul class="radio-selectors">
    <li class="nav-buttons-right" id="radio">
      Filter Results
    </li>
    <li class="nav-buttons-right" id="radio">
      <hr id="divider">
      <!-- an hr vertical divider -->
    </li>
    <li class="nav-buttons-right" id="radio">
      <span id="num-dealers">{{number}}</span> dealers in 28226
    </li>
  </ul>
  <ul class="radio-selectors">
    <li class="nav-buttons-right radio-btn">
      <input type="radio" name="gender" value="male" checked> Service
    </li>
    <li class="nav-buttons-right radio-btn">
      <input type="radio" name="gender" value="male" checked> Installation
    </li>
    <li class="nav-buttons-right radio-btn">
      <input type="radio" name="gender" value="male" checked> Rental
    </li>
    <li class="nav-buttons-right radio-btn">
      <input type="radio" name="gender" value="male" checked> Commercial
    </li>
  </ul>
</div> --}}


