<!-- links at the top -->
<ul class="top-level-links">
  <div class="top-right-links">
    <li class="nav-buttons-right">
      <a href="#commercial-serv" class="top-level">Commercial Service ⤵️</a>
    </li>
    <li class="nav-buttons-right">
      <a href="#dealers-dist" class="top-level">Dealers and Distributors</a>
    </li>

  </div>
</ul>
<!-- logo -->

<li id="logo">
  <a class="active" href="/all">
    <h1 id="pool-pros">
      <strong id="logo-pool">POOL</strong>
      <span id="montserrat">PROS</span>
    </h1>
  </a>
</li>
<!-- navigational buttons -->
<ul class="navigational">
  <li class="nav-buttons-right">
    <a class="link-color" id="contact">Contact</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#about">Services</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#resources">Resources</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="#supplies">Supplies</a>
  </li>
  <li class="nav-buttons-right">
    <a class="link-color" href="/">Pools &#38; Spas</a>
  </li>
</ul>

<!-- search box -->
<ul id="search-box">
  <li class="search-link">
    <a class="link-color" href="http://google.com"> 🔎 Find a Pool Pro</a>
  </li>
</ul>

{{!-- drop down on iphone6 screens --}}
<div class="dropdown">
  <i class="fas fa-align-justify fa-2x dropbtn"></i>
  <div id="myDropdown" class="dropdown-content">
    <div class="drop-menu">
      <h4 class="drop-items h4">Menu</h4>
    </div>
    <div>
      <span class="drp-dwn-closer">&times;</span>
    </div>
    <p class="drop-items" href="#home"></p>
    <p class="drop-items" href="/">Pool &#38; Spas</p>
    <p class="drop-items" href="#services">Services</p>
    <p class="drop-items" href="#home">Resources</p>
    <p class="drop-items" href="#about">Supplies</p>
    <p class="drop-items" id="drop-contact">Contact</p>
  </div>
</div>

<!-- hr divider -->
<hr id="header-hr">
<!-- image -->
<img src="/images/poolpro.png" alt="pool water image" width="500" height="377"> {{!-- adding modal here instead --}} {{!--
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button> --}}

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    {{!-- form content --}}

    <div class="containers">
      <form action="/">
        <div class="row">
          <div class="col-25">
            <label for="fname">First Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="fname" class="fName" placeholder="Your name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Last Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="lname" name="lastname"  class="lname" placeholder="Your last name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="selection">Currently own pool or spa?</label>
          </div>
          <div class="col-75">
            <select id="selection" name="selection" class="">
              <option value="australia">Yes</option>
              <option value="canada">No</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Comments or Questions ✏️</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" class="textarea"></textarea>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit" class="submit">
        </div>
      </form>
    </div>
  </div>
</div>