<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- google fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One|Quattrocento+Sans" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


</head>

<body>
   {{>header}}
  {{{body}}}

</body>
   {{!-- jquery CDN --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascripts/layouts.js"></script>



</html>