<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ABeeZee|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Passion+One|Quattrocento+Sans" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/layouts.js"></script>

</head>

<body>
   {{>header}}
  {{{body}}}

</body>

</html>